In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("data/athlete_events.csv")
df.sample(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
16272,8742,"Hermine ""Herma"" Bauma",F,33.0,161.0,68.0,Austria,AUT,1948 Summer,1948,Summer,London,Athletics,Athletics Women's Javelin Throw,Gold
176228,88612,Bernd Olbricht,M,19.0,189.0,85.0,East Germany,GDR,1976 Summer,1976,Summer,Montreal,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",Gold
101826,51494,Gaetano Iannuzzi,M,32.0,160.0,48.0,Italy,ITA,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Coxed Eights,NaN
167533,84174,Lajos Nagy,M,32.0,190.0,80.0,West Germany,FRG,1968 Summer,1968,Summer,Mexico City,Water Polo,Water Polo Men's Water Polo,NaN
269857,135019,Christian Zimmermann,M,54.0,NaN,NaN,Palestine,PLE,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN

In [42]:
#missing values???
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [43]:
avg_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(avg_age)
avg_height =df['Height'].mean()
df['Height']=df['Height'].fillna(avg_height)
avg_weight = df['Weight'].mean()
df['Weight'] = df['Weight'].fillna(avg_weight)

In [ ]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,271116.000000,271116.00000,271116.000000,271116.000000
mean,68248.954396,25.556898,175.33897,70.702393,1978.378480
std,39022.286345,6.280857,9.27810,12.574690,29.877632
min,1.000000,10.000000,127.00000,25.000000,1896.000000
25%,34643.000000,22.000000,170.00000,63.000000,1960.000000
50%,68205.000000,25.000000,175.33897,70.702393,1988.000000
75%,102097.250000,28.000000,180.00000,75.000000,2002.000000
max,135571.000000,97.000000,226.00000,214.000000,2016.000000

In [68]:
print(df.duplicated().sum())

0

In [67]:
df.drop_duplicates(inplace= True)

In [69]:
medal_counts = df.groupby('NOC')['Medal'].count().sort_values(ascending=False).head(10)
print(medal_counts)

NOC
USA    5637
URS    2503
GER    2165
GBR    2067
FRA    1767
ITA    1637
SWE    1536
CAN    1352
AUS    1320
RUS    1165
Name: Medal, dtype: int64

In [74]:
top_athletes = df.groupby('Name')['Medal'].count().sort_values(ascending=False).head(20)
top_athletes

Name
Michael Fred Phelps, II                            28
Larysa Semenivna Latynina (Diriy-)                 18
Nikolay Yefimovich Andrianov                       15
Takashi Ono                                        13
Ole Einar Bjrndalen                                13
Edoardo Mangiarotti                                13
Borys Anfiyanovych Shakhlin                        13
Birgit Fischer-Schmidt                             12
Aleksey Yuryevich Nemov                            12
Dara Grace Torres (-Hoffman, -Minas)               12
Sawao Kato                                         12
Ryan Steven Lochte                                 12
Jennifer Elisabeth "Jenny" Thompson (-Cumpelik)    12
Paavo Johannes Nurmi                               12
Natalie Anne Coughlin (-Hall)                      12
Matthew Nicholas "Matt" Biondi                     11
Aleksandr Vladimirovich Popov                      11
Viktor Ivanovych Chukarin                          11
Mark Andrew Spitz                                  11
Carl Townsend Osburn                               11
Name: Medal, dtype: int64