In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv("data/athlete_events.csv")

# Checking for missing values

In [29]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [30]:
avg_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(avg_age)
avg_height =df['Height'].mean()
df['Height']=df['Height'].fillna(avg_height)
avg_weight = df['Weight'].mean()
df['Weight'] = df['Weight'].fillna(avg_weight)

In [31]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,271116.000000,271116.00000,271116.000000,271116.000000
mean,68248.954396,25.556898,175.33897,70.702393,1978.378480
std,39022.286345,6.280857,9.27810,12.574690,29.877632
min,1.000000,10.000000,127.00000,25.000000,1896.000000
25%,34643.000000,22.000000,170.00000,63.000000,1960.000000
50%,68205.000000,25.000000,175.33897,70.702393,1988.000000
75%,102097.250000,28.000000,180.00000,75.000000,2002.000000
max,135571.000000,97.000000,226.00000,214.000000,2016.000000

In [32]:
print(df.duplicated().sum())

1385

In [33]:
df.drop_duplicates(inplace= True)

In [34]:
medal_counts = df.groupby('NOC')['Medal'].count().sort_values(ascending=False).head(10)
medal_counts

NOC
USA    5637
URS    2503
GER    2165
GBR    2067
FRA    1767
ITA    1637
SWE    1536
CAN    1352
AUS    1320
RUS    1165
Name: Medal, dtype: int64

In [35]:
top_athletes = df.groupby('Name')['Medal'].count().sort_values(ascending=False).head(5)
top_athletes

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Ole Einar Bjrndalen                   13
Name: Medal, dtype: int64

In [36]:
# Analyze medal distributions by -country-, sport, and time period

print("\n1. TOP 15 COUNTRIES BY TOTAL MEDALS:")
print("-" * 15)

medal_winners = df[df['Medal'].notna()]

country_medals = medal_winners.groupby('NOC')['Medal'].count().sort_values(ascending=False).head(15)
print(country_medals)

1. TOP 15 COUNTRIES BY TOTAL MEDALS:
---------------
NOC
USA    5637
URS    2503
GER    2165
GBR    2067
FRA    1767
ITA    1637
SWE    1536
CAN    1352
AUS    1320
RUS    1165
HUN    1135
NED    1040
NOR    1033
GDR    1005
CHN     989
Name: Medal, dtype: int64

In [37]:
# Analyze medal distributions by -country-, sport, and time period

print("\n1. TOP 15 COUNTRIES BY TOTAL MEDALS:")
print("-" * 15)

medal_winners = df[df['Medal'].notna()]

country_medals = medal_winners.groupby('NOC')['Medal'].count().sort_values(ascending=False).head(15)
print(country_medals)

# 2. MEDAL DISTRIBUTION BY SPORT
print("\n2. TOP 15 SPORTS BY TOTAL MEDALS:")
print("-" * 40)

# Count medals by sport
sport_medals = medal_winners.groupby('Sport')['Medal'].count().sort_values(ascending=False).head(15)
print(sport_medals)

# 3. MEDAL DISTRIBUTION BY TIME PERIOD (Decades)
print("\n3. MEDAL DISTRIBUTION BY DECADE:")
print("-" * 40)

# Create decade column
#df['Decade'] = (df['Year'] // 10) * 10
#decade_medals = medal_winners.groupby('Decade')['Medal'].count().sort_index() 
#print(decade_medals)

# 4. MEDAL DISTRIBUTION BY MEDAL TYPE
print("\n4. MEDAL DISTRIBUTION BY TYPE:")
print("-" * 40)

medal_type_dist = medal_winners['Medal'].value_counts()
print(medal_type_dist)

# 5. COUNTRY PERFORMANCE OVER TIME (Top 5 countries)
print("5. TOP 5 COUNTRIES MEDAL PERFORMANCE BY DECADE:")
print("-" * 50)

top_5_countries = country_medals.head(5).index
country_decade_medals = medal_winners[medal_winners['NOC'].isin(top_5_countries)].groupby(['NOC', 'Decade'])['Medal'].count().unstack(fill_value=0)
print(country_decade_medals)

# 6. SPORT PERFORMANCE OVER TIME (Top 5 sports)
print("6. TOP 5 SPORTS MEDAL PERFORMANCE BY DECADE:")
print("-" * 50)

top_5_sports = sport_medals.head(5).index
sport_decade_medals = medal_winners[medal_winners['Sport'].isin(top_5_sports)].groupby(['Sport', 'Decade'])['Medal'].count().unstack(fill_value=0)
print(sport_decade_medals)

# 7. SUMMER VS WINTER OLYMPICS MEDAL DISTRIBUTION
print("7. SUMMER VS WINTER OLYMPICS MEDAL DISTRIBUTION:")
print("-" * 50)

season_medals = medal_winners.groupby('Season')['Medal'].count()
print(season_medals)

# 8. MEDAL DISTRIBUTION BY GENDER
print("8. MEDAL DISTRIBUTION BY GENDER:")
print("-" * 40)

gender_medals = medal_winners.groupby('Sex')['Medal'].count()
print(gender_medals)

1. TOP 15 COUNTRIES BY TOTAL MEDALS:
---------------
NOC
USA    5637
URS    2503
GER    2165
GBR    2067
FRA    1767
ITA    1637
SWE    1536
CAN    1352
AUS    1320
RUS    1165
HUN    1135
NED    1040
NOR    1033
GDR    1005
CHN     989
Name: Medal, dtype: int64

2. TOP 15 SPORTS BY TOTAL MEDALS:
----------------------------------------
Sport
Athletics     3969
Swimming      3048
Rowing        2945
Gymnastics    2256
Fencing       1743
Football      1571
Ice Hockey    1530
Hockey        1528
Wrestling     1296
Cycling       1263
Shooting      1228
Sailing       1221
Canoeing      1165
Basketball    1080
Handball      1060
Name: Medal, dtype: int64

3. MEDAL DISTRIBUTION BY DECADE:
----------------------------------------

4. MEDAL DISTRIBUTION BY TYPE:
----------------------------------------
Medal
Gold      13369
Bronze    13295
Silver    13108
Name: count, dtype: int64
5. TOP 5 COUNTRIES MEDAL PERFORMANCE BY DECADE:
--------------------------------------------------

KeyError: 'Decade'